<div class="row">
  <div class="col-md-12">
   

    <nb-card>
      <nb-card-header>Continent form</nb-card-header>
      <nb-card-body>
       
        <div class="row">
          <div class="col-sm-6">
          
            <div class="form-group">
              
             
              <label for="inputContinentName" class="label">Continent Name</label>
              <input type="text" nbInput fullWidth id="inputContinentName" placeholder="Continent Name">
            </div>
          </div>
          <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputStatus" class="label">Status</label>
              <nb-select selected="1">
                <nb-option value="1">Active</nb-option>
                <nb-option value="2">Inactive</nb-option>
              </nb-select>
              
            </div>
          </div>
        </div>

        </div>
        
        
        <button type="submit" nbButton status="success">Submit</button>
     
      </nb-card-body>
      
    </nb-card>
  
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    
  </div>
</div>

