
label{
color: #8f9bb3;
font-family: Open Sans, sans-serif;
font-size: 0.75rem;
font-weight: 700;
line-height: 1rem;
}
p{
    color: #192038;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
}