<div class="row">
  <div class="col-md-12">
    <form novalidate #cftForm="ngForm" autocomplete="off">
      <nb-card>
        <nb-card-header style="font-size: 20px;">Create CFT</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-4">
              <div class="control-wrapper" [ngClass]="{ 'has-error': cftCategory.invalid && cftForm.submitted}">
                <label><b>CATEGORY</b><span class="error">*</span></label>
                <br />
                <nb-select ngModel name="cftCategory" #cftCategory="ngModel" required
                  [status]="cftForm.submitted ? (cftCategory.invalid  ? 'danger' : 'success') : 'primary'"
                  style="margin-bottom: 10px;width:100%" (selectedChange)="changeDate($event)" placeholder="Category"
                  class="type-select">
                  <nb-option *ngFor="let category of cfCategoryType" [value]="category">
                    {{category.categoryName}}</nb-option>
                </nb-select>


                <ng-container *ngIf="cftCategory.invalid && cftForm.submitted">
                  <p class="status-danger error" style="margin-left: 0px;line-height: 20px;"
                    *ngIf="cftCategory.errors['required']">
                    <b>Category is required.</b>
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-md-4">
              <label><b>DMS ID:</b></label>
              <br />
              <p>{{editCFTRecord.scrNo}}</p>
            </div>
            <div class="col-md-4">
              <label><b>Model:</b></label>
              <br />
              <p>{{editCFTRecord.modelName}}</p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <label><b>CFT NO:</b></label>
              <br />
              <p>{{editCFTRecord.cftNo}}</p>
            </div>

            <div class="col-md-4">

              <label><b>CFT CREATION DATE:</b> <span class="error">*</span></label> <br />
              <input ngModel class="form-control" required name="cftCreationDate" #cftCreationDate="ngModel" nbInput
                [nbDatepicker]="ngmodel" [(ngModel)]="editCFTRecord.cftCreationDate" placeholder="Pick Start Date"
                [status]="cftForm.submitted ? (cftCreationDate.invalid  ? 'danger' : 'success') : 'primary'"
                style="width: 100%;padding: 5px;">
              <nb-datepicker #ngmodel>
              </nb-datepicker>
              <ng-container *ngIf="cftCreationDate.invalid && cftForm.submitted">
                <p class="status-danger error" style="margin-left: 0px;line-height: 20px;"
                  *ngIf="cftCreationDate.errors['required']">
                  Please Fill the date.
                </p>
              </ng-container>
            </div>
            <div class="col-md-4"> <label><b> Target Date:</b> <span class="error">*</span></label> <br />
              <p>{{editCFTRecord.targetDate | date:'longDate'}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label><b>Created By:</b></label> <br />
              <p>{{editCFTRecord.createdBy}}</p>

            </div>

            <div class="col-md-4">
              <label><b> Revision No:</b></label> <br />
              <p>{{editCFTRecord.revisionNo}}</p>

            </div>

            <div class="col-md-4">
              <label><b> Revised Date:</b></label> <br />
              <p>{{editCFTRecord.revisedDate |  date:'longDate'}}</p>

            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label><b>Revised By:</b></label><br />
              <p>{{editCFTRecord.revisedBy}}</p>
            </div>

            <div class="col-md-4">
              <label><b>Approved By:</b></label><br />
              <p>{{editCFTRecord.approvedBy}}</p>
            </div>


          </div>
          <p
            style="border-bottom:1px solid #8f9bb3;width:100%;float:left;font-size:18px;color:#8f9bb3;font-weight: bold;">
            Milestones Details</p>
          <div class="row">

            <div class="col-md-4">
              <label><b>Departments:</b><span class="error">*</span></label><br />
              <nb-select name="departmentList" #departmentList (selectedChange)="onChangeDepartment($event)"
                style="width:100%;float:left;max-width:100%;" placeholder="Departments"
                [status]="cftForm.submitted ? (filterData?.length === 0  ? 'danger' : 'success') : 'primary'" multiple>
                <nb-option *ngFor="let dept of departmentMileStoneData" [value]="dept">{{dept.department}}</nb-option>
              </nb-select>
              <!-- <div *ngIf= ></div> -->
              <ng-container *ngIf="filterData?.length === 0 && cftForm.submitted">
                <p class="status-danger error" style="margin-left: 0px;line-height: 20px;">
                  Department is required.
                </p>
              </ng-container>
            </div>
          </div>


          <nb-accordion multi>

            <nb-accordion-item *ngFor="let item of filterData">

              <nb-accordion-item-header class="div-headermilstone">
                {{item.department}}
              </nb-accordion-item-header>

              <nb-accordion-item-body *ngFor="let subItem of item.milestones;let m=index">

                <nb-checkbox name="Milestones_{{m}}" status="primary" style="width: 20%;float: left;"
                  [(ngModel)]="subItem.isSelected" class="milestonename">
                  {{subItem.milestonename}} </nb-checkbox>
              </nb-accordion-item-body>

            </nb-accordion-item>
          </nb-accordion>




          <div class="div-milestone">

            <div class="rTable" *ngFor="let relativeDept of filterData;let k=index">

              <div class="rTableRow" *ngFor="let grid of relativeDept.milestones;let j=index">
                <div *ngIf="k==0 && j==0">
                  <div class="rTableHead"><strong>Milestone SNO</strong></div>
                  <div class="rTableHead"><strong>Description</strong></div>
                  <div class="rTableHead"><strong>Days</strong></div>
                  <div class="rTableHead"><strong>Start Date</strong></div>
                  <div class="rTableHead"><strong>Target Date</strong></div>
                  <div class="rTableHead"><strong>Department</strong></div>
                  <div class="rTableHead"><strong>UserName</strong></div>
                  <div class="rTableHead"><strong>Remarks</strong></div>
                  <div class="rTableHead"><strong>Status</strong></div>
                  <div *ngIf="showNoRecord()" style="padding: 10px;">
                    No Record found.
                  </div>
                </div>

                <div *ngIf="grid.isSelected == true">

                  <div class="rTableCell inner-milestone"></div>
                  <div class="rTableCell">{{grid.description }}</div>
                  <div class="rTableCell">
                    <input type="text" name="Days_{{relativeDept.department}}{{grid.id}}" nbInput fullWidth
                      status="primary" (input)="extendDateByNumberOfDays('mileStoneCreationDate',grid)" ngModel
                      #MilestoneDays{{relativeDept.id}}{{grid.id}}="ngModel" placeholder="Days"
                      [(ngModel)]="grid.targetTime"> </div>
                  <div class="rTableCell">

                    <input nbInput status="primary" name="mileStoneStartDate_{{relativeDept.id}}{{grid.id}}"
                      placeholder="Pick Start Date" style="width: 100%;padding-left: 4px;" [nbDatepicker]="ngModel"
                      [(ngModel)]="grid.startDate" >
                    <nb-datepicker #ngModel (dateChange)="formatDate('mileStoneCreationDate',grid,$event)">
                    </nb-datepicker>
                  </div>
                  <div class="rTableCell" [ngClass]="{'grid-Inactive':editCFTRecord.targetDate < grid.targetDate}">{{grid.targetDate |  date:'longDate'}}
                  </div>
                  <div class="rTableCell">{{relativeDept.department}}</div>
                  <div class="rTableCell">
                    <nb-select name="mileStoneUserList_{{relativeDept.id}}{{grid.id}}"
                      (selectedChange)="onChangeUser($event,grid)" style="width:100%;float:left;max-width:100%;"
                      [(ngModel)]="grid.empid" placeholder="Select Users" status="primary">
                      <nb-option *ngFor="let user of getUserByDepartment(relativeDept.department)" [value]="user.empid">
                        {{user.name}}</nb-option>
                    </nb-select>
                  </div>
                  <div class="rTableCell"> <textarea name="mileStoneRemarks_{{relativeDept.id}}{{grid.id}}" nbInput
                      fullWidth placeholder="Remarks" [(ngModel)]="grid.remarks[0].remarktext"
                      status="primary"></textarea>
                  </div>
                  <div class="rTableCell"
                    [ngClass]="{'grid-Inactive':grid.status=='Inactive', 'grid-active':grid.status=='Active', 'grid-actives':grid.status=='created'}">
                    {{grid.status}} </div>
                </div>

              </div>



            </div>
          </div>





          <p
            style="border-bottom:1px solid #8f9bb3;width:100%;float:left;font-size:18px;color:#8f9bb3;font-weight: bold;">
            PartCode Details</p>

            <div class="div-milestone">

              <div class="rTable">
  
                <div class="rTableRow">
  
                  <div class="rTableHead partcode-grid" style="width: 24%;"><strong>Part Code Name</strong> <span
                      class="error">*</span></div>
                  <div class="rTableHead partcode-grid" style="width: 24%;"><strong>Description</strong></div>
                  <div class="rTableHead partcode-grid" style="width: 24%;"><strong>Supplier Code</strong></div>
                  <div class="rTableHead partcode-grid" style="width: 28%;"><strong>Supplier Name</strong></div>
                </div>
  
                <div class="rTableRow" *ngFor="let partcodes of partCodeDetail;let pc = index">
                  <div class="rTableCell" style="width: 24%;">
                    <input type="text" required nbInput fullWidth status="primary" placeholder="PartCode Name" ngModel
                      name="partcodeName_{{pc}}" #partcodeName="ngModel" [(ngModel)]="partcodes.partCode"
                      [status]="cftForm.submitted ? (partcodeName.invalid  ? 'danger' : 'success') : 'primary'"> 
                   
                    </div>
                 
  
  
                  <div class="rTableCell partcode-detail" style="width: 24%; ">
                    <input type="text" nbInput fullWidth ngModel name="partName_{{pc}}" #partName="ngModel"
                      status="primary" placeholder="Description" [(ngModel)]="partcodes.partName"></div>
                  <div class="rTableCell partcode-detail" style="width: 24%;">
                    <input type="text" nbInput fullWidth status="primary" placeholder="Supplier code" ngModel
                      name="partName_{{pc}}" #partName="ngModel" [(ngModel)]="partcodes.supplierCode"></div>
                  <div class="rTableCell partcode-detail" style="width: 28%;">
                    <input type="text" nbInput status="primary" ngModel name="supplierName_{{pc}}" #supplierName="ngModel"
                      [(ngModel)]="partcodes.supplierName" placeholder="Supplier Name " style="float: left;width:100%">
  
                  </div>
  
                </div>
  
                
  
                </div>
                <div  style="text-align: right; margin-top:15px;width:100%;">
                  <button type="submit" nbButton status="info" title=" Add Partcode Details"
                    (click)='addPartCode($event)'>Add Partcode Details</button>
  
              </div>
            </div>
          <div class="row">
            <div class=col-md-12>
              <button nbButton status="info" (click)="submitCFTData('draft',cftForm);" title="Save as Draft"
                class="btn-cft" style="margin-right:15px;">Save as
                Draft</button>
              <button nbButton status="success" (click)="submitCFTData('save',cftForm);" title="Submit" class="btn-cft"
                style="margin-right:15px;">Submit</button>
              <button nbButton status="warning" title="Discard" class="btn-cft" (click)="Cancel()">Cancel</button>
            </div>
          </div>



        </nb-card-body>
      </nb-card>

    </form>


  </div>
</div>