
<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header style="font-size: 20px;">Create CFT</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-4">
            <label><b>CATEGORY</b><span class="error">*</span></label>
            <br />

            <nb-select status="primary" style="margin-bottom: 10px;width:100%" (selectedChange)="changeDate($event)"
              [(selected)]="type" placeholder="Category" class="type-select">
              <nb-option value="1">Minor</nb-option>
              <nb-option value="2">Major</nb-option>
            </nb-select>


          </div>
          <div class="col-md-4">
            <label><b>DMS ID:</b></label>
            <br />
            <p>{{editCFTRecord.scrNo}}</p>
          </div>
          <div class="col-md-4">
            <label><b>Model:</b></label>
            <br />
            <p>{{editCFTRecord.modelName}}</p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">
            <label><b>CFT NO:</b></label>
            <br />
            <p>123456789</p>
          </div>

          <div class="col-md-4">
            <label><b>CFT CREATION DATE:</b> <span class="error">*</span></label>  <br />
            <input nbInput placeholder="Pick Start Date" status="primary" style="width: 100%;padding: 5px;"  [nbDatepicker]="formcontrol" [formControl]="formControl">
            <nb-datepicker #formcontrol ></nb-datepicker>

          </div>


          <div class="col-md-4">
            <label><b> Target Date:</b> <span class="error">*</span></label> <br />
            <p>{{editCFTRecord.targetDate | date:'longDate'}}</p>

          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label><b>Created By:</b></label> <br />
            <p>Himanshi</p>

          </div>

          <div class="col-md-4">
            <label><b> Revision No:</b></label> <br />
            <p>1</p>

          </div>

          <div class="col-md-4">
            <label><b> Revised Date:</b></label> <br />
            <p>{{today |  date:'longDate'}}</p>

          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label><b>Revised By:</b></label><br />
            <p>Himanshi</p>
          </div>

          <div class="col-md-4">
            <label><b>Approved By:</b></label><br />
            <p>Himanshi</p>
          </div>

          
        </div>
        <p style="border-bottom:1px solid #8f9bb3;width:100%;float:left;font-size:18px;color:#8f9bb3;font-weight: bold;">Milestones Details</p>
        <div class="row">
          
          <div class="col-md-4">
           <label><b>Departments:</b><span class="error">*</span></label><br />
            <nb-select (selectedChange)="onChangeDepartment($event)" style="width:100%;float:left;max-width:100%;"
              placeholder="Departments" status="primary" multiple>
              <nb-option *ngFor="let dept of departmentData" [value]="dept">{{dept.Name}}</nb-option>
            </nb-select>



          </div>
        </div>

       
        <nb-accordion multi>
        
          <nb-accordion-item *ngFor="let item of filterData">
          
            <nb-accordion-item-header class="div-headermilstone">
              {{item.department}}
            </nb-accordion-item-header>

            <nb-accordion-item-body *ngFor="let subItem of item.Milestones">

              <nb-checkbox status="primary" style="width: 20%;float: left;" [(ngModel)]="subItem.isMilestoneSelected">
                {{subItem.milestonename}} </nb-checkbox>



            </nb-accordion-item-body>

          </nb-accordion-item>
        </nb-accordion>




        <div class="div-milestone">

          <div class="rTable" *ngFor="let milestone of filterData;let k=index">

            <div class="rTableRow" *ngFor="let grid of milestone.Milestones;let j=index">
              <div *ngIf="k==0 && j==0">
                <div class="rTableHead" ><strong>Milestone SNO</strong></div>
                <div class="rTableHead"  ><strong>Description</strong></div>
                <div class="rTableHead"  ><strong>Days</strong></div>
                <div class="rTableHead" ><strong>Start Date</strong></div>
                <div class="rTableHead"><strong>Target Date</strong></div>
                <div class="rTableHead"><strong>Department</strong></div>
                <div class="rTableHead"><strong>UserName</strong></div>
                <div class="rTableHead" ><strong>Remarks</strong></div>
                <div class="rTableHead"><strong>Status</strong></div>
                <div *ngIf="showNoRecord()" style="padding: 10px;">
                  No Record found.
                </div>
              </div>

              <div *ngIf="grid.isMilestoneSelected == true">
                <div class="rTableCell inner-milestone"  ></div>
                <div class="rTableCell"  >{{grid.description }}</div>
                <div class="rTableCell" > <input type="text" nbInput fullWidth status="primary" placeholder="Primary"  [(ngModel)]="grid.targetTime"> </div>
                <div class="rTableCell" > 
                  <input nbInput status="primary" placeholder="Pick Start Date" style="width: 100%;padding-left: 4px;"  [nbDatepicker]="formcontrol" [formControl]="formControl">
                  <nb-datepicker #formcontrol ></nb-datepicker>
                </div>
                <div class="rTableCell">{{extendMileStoneTargetDate(grid.targettimeunit,grid.startDate)}}</div>
                <div class="rTableCell">{{milestone.department}}</div>
                <div class="rTableCell"> 
                  <nb-select placeholder="Select Users" style="width: 100%;" status="primary" [(selected)]="selectedItem">
                    <nb-option value="">Himanshi</nb-option>
                    <nb-option value="0">Ashish</nb-option>
                    <nb-option value="1">Salesh</nb-option>
                    <nb-option value="2">Sapan</nb-option>
                    <nb-option value="3">Rajat</nb-option>
                    <nb-option value="4">Ankit</nb-option>
                    </nb-select>

                </div>
                <div class="rTableCell" > <textarea nbInput fullWidth placeholder="Remarks" status="primary"></textarea></div>
                <div class="rTableCell"
                  [ngClass]="{'grid-Inactive':grid.status=='Inactive', 'grid-active':grid.status=='Active'}">
                  {{grid.status}} </div>
              </div>

            </div>



          </div>
        </div>





        <p style="border-bottom:1px solid #8f9bb3;width:100%;float:left;font-size:18px;color:#8f9bb3;font-weight: bold;">PartCode Details</p>
      
        <div class="div-milestone">
          
          <div class="rTable">

            <div class="rTableRow">
              
                <div class="rTableHead partcode-grid"  style="width: 10%;"><strong>PartCode SNO</strong></div>
                <div class="rTableHead partcode-grid" style="width: 30%;"><strong>Description</strong></div>
                <div class="rTableHead partcode-grid"  style="width: 30%;"><strong>PartCode Name</strong></div>
                
              </div>

              <div class="rTableRow">
                <div class="rTableCell inner-milestone partcode-detail"  style="width: 10%;"></div>
                <div class="rTableCell partcode-detail"  style="width: 30%;">Information</div>
                <div class="rTableCell partcode-detail" style="width: 30%;"> 10002234AA </div>
      </div>
      <div class="rTableRow">
        <div class="rTableCell inner-milestone partcode-detail"  style="width: 10%;"></div>
        <div class="rTableCell partcode-detail"  style="width: 30%;">Failed Parts</div>
        <div class="rTableCell partcode-detail" style="width: 30%;"> 10012234AA </div>
</div>
<div class="rTableRow">
  <div class="rTableCell inner-milestone partcode-detail"  style="width: 10%;"></div>
  <div class="rTableCell partcode-detail"  style="width: 30%;">Training</div>
  <div class="rTableCell partcode-detail" style="width: 30%;"> 10007234AA </div>
</div>
<div class="rTableRow">
  <div class="rTableCell inner-milestone partcode-detail"  style="width: 10%;"></div>
  <div class="rTableCell partcode-detail"  style="width: 30%;">Tor Value</div>
  <div class="rTableCell partcode-detail" style="width: 30%;"> 10092234AA </div>
</div>
      

    



          </div>
        </div>






        <div class="row">
          <div class=col-md-12>
            <button nbButton status="info" title="Save as Draft" class="btn-cft" style="margin-right:15px;">Save as
              Draft</button>
            <button nbButton status="success" title="Submit" class="btn-cft" style="margin-right:15px;"
              (click)="Cancel()">Submit</button>
            <button nbButton status="warning" title="Discard" class="btn-cft" (click)="Cancel()">Cancel</button>
          </div>
        </div>



      </nb-card-body>
    </nb-card>

  </div>
</div>